.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #3e4545;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}

.main-link {
    text-decoration: none;
}

.category-img{
    max-height:200px;
    max-width:200px;
    height:auto;
    width:auto;
}

.product-img {
    max-height:350px;
    max-width:350px;
    height:auto;
    width:auto;
}

.button-block {
    display: block;
    width: 100%;
    border: none;
    background-color: #3e4545;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.button-block:hover {
    background-color: #ddd;
    color: black;
}