.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #3e4545;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}

main-link {
    text-decoration: none;
}