<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkt</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<div class="container">
    <nav th:replace="fragments/header :: header"></nav>
    <div class="jumbotron">
        <h1 class="small-mg-bot">Dodaj nowy produkt</h1>
    </div>
    <form id="newProduct" th:action="@{/addProduct}" th:method="post" th:object="${product}"
          enctype="multipart/form-data">

        <label>
            Nazwa
            <input type="text" id="name" th:placeholder="Nazwa" th:field="*{name}" class="form-control"/>
        </label>
        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></small>
        <br>

        <label>
            Producent
            <input type="text" th:placeholder="Producent" th:field="*{producer}" class="form-control"/>
        </label>
        <small th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}" class="text-danger"></small>
        <br>

        <label>
            Kategoria
            <select class="form-control" th:field="*{productType}">
                <option th:each="category : ${categories}" th:value="${category.getId()}"
                        th:text="${category.getName()}" th:selected="${category.getId()} == 1"></option>
            </select>
        </label>
        <br>

        <label>
            Opis
            <textarea class="form-control" th:placeholder="Opis" th:field="*{description}"></textarea>
        </label>
        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></small>
        <br>


        <label>
            Cena
            <input type="number" name="prize" min="0" value="0" step=".01"
                   th:placeholder="Cena" th:field="*{prize}" th:default="0.01" class="form-control"/>
        </label>
        <small th:if="${#fields.hasErrors('prize')}" th:errors="*{prize}"
               class="text-danger"></small>
        <br>


        <label>
            Liczba sztuk:
            <input type="number" name="prize" min="0" value="0"
                   th:field="*{unitsInStock}" class="form-control"/>
        </label>
        <small th:if="${#fields.hasErrors('unitsInStock')}" th:errors="*{unitsInStock}"
               class="text-danger"></small>
        <br>

        <label>
            Obraz produktu
            <input type="file" name="file" class="form-control-file"/>
        </label>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="submit" value="" th:text="Zatwierdź"></button>
        </div>
    </form>
</div>
</body>
</html>