<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leki</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<div class="container">
    <nav th:replace="fragments/header :: header"></nav>
    <div class="jumbotron">
        <h1 class="small-mg-bot">Dodaj adres do zamówienia</h1>
    </div>

    <form th:action="@{/order/postToOrders}" th:method="post" th:object="${address}">
        <input type="text" id="street" name="street" th:placeholder="Ulica" th:field="*{street}"
               class="form-control" />
        <label th:if="${#fields.hasErrors('street')}" th:errors="*{street}"
               class="login-error"></label>
        <br>

        <input type="text" id="numberOfHouse" name="numberOfHouse" th:placeholder="'Numer domu'" th:field="*{numberOfHouse}"
               class="form-control" />
        <label th:if="${#fields.hasErrors('numberOfHouse')}" th:errors="*{numberOfHouse}"
               class="login-error"></label>
        <br>

        <input type="text" id="numberOfFlat" name="numberOfFlat" th:placeholder="'Numer mieszkania'" th:field="*{numberOfFlat}"
               class="form-control" />
        <label th:if="${#fields.hasErrors('numberOfFlat')}" th:errors="*{numberOfFlat}"
               class="login-error"></label>
        <br>

        <input type="text" id="city" name="city" th:placeholder="Miasto" th:field="*{city}"
               class="form-control" />
        <label th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
               class="login-error"></label>
        <br>

        <input type="text" id="postCode" name="postCode" th:placeholder="'Kod pocztowy'" th:field="*{postCode}"
               class="form-control" />
        <label th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"
               class="login-error"></label>
        <br>

        <div class="button-center">
            <button type="submit" name="submit" value="" th:text="Zatwierdź"></button>
        </div>
        <br>
    </form>
</div>
</body>
</html>