<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leki</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>

<div class="titleText">
    <h1 class="small-mg-bot">Kategorie</h1>
</div>

<div class="container">
    <div class="row">
        <th:block th:each="category : ${categories}">
            <div class="col">
                <div>
                    <img th:src="@{'/img/categories/' +${category.getId()} + '.png'}">
                    <a th:href="@{/products(categoryId=${category.getId()})}" th:text="${category.getName()}"></a>
                </div>
            </div>
        </th:block>
    </div>

</div>
</body>
</html>