<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leki</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>


<div class="container">
    <nav th:replace="fragments/header :: header"></nav>
    <div class="jumbotron">
        <h1 class="small-mg-bot">Kategorie</h1>
        <p>Wybierz kategorię leku</p>
    </div>
    <div class="row">
        <th:block th:each="category : ${categories}">
            <div class="col">
                <div>
                    <a th:href="@{/products(categoryId=${category.getId()})}" >
                        <img th:src="@{'/img/categories/' +${category.getId()} + '.svg'}">
                        <div class="caption main-link"  th:text="${category.getName()}">
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>