<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leki</title>
</head>
<body>

<h1>Lista leków</h1>

<table>
    <tr>
        <th>NAZWA</th>
        <th>Opis</th>
        <th>Producent</th>
        <th>Cena</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td th:text="${product.prize}"></td>
    </tr>
</table>
</body>
</html>