<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Product ' + ${product.getId()}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<div class="container">
    <nav th:replace="fragments/header :: header"></nav>
    <div class="jumbotron">
        <h1 class="small-mg-bot" th:text="${product.getName()}"></h1>
        <div align="center" th:if="${errorAmount}">
            <p class="prod-err" th:text="${errorAmount}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <img class="product-img" th:src="@{'/img/products/' + ${product.getId()} + '.jpg'}">
        </div>
        <div class="col-sm-12 col-lg-6">
            <div th:inline="text">
                Dostępna liczba sztuk:
                <span id="unit-available" th:text="${product.getAvailableAmount()}"></span>
            </div>
            <div th:text="${#numbers
							.formatDecimal(product.getPrize(), 2, 2)} + ' zł'"></div>
            <div>
                <div th:text="${product.getDescription()}"></div>
                <br>
            </div>
            <th:block sec:authorize="hasAuthority('USER')">
                <form th:action="${'/order/addToCart/' + product.getId()}"
                      th:method="post" class="unit-button">
                    <button class="btn btn-secondary" type="submit" name="submit" value=""
                            th:text="'Dodaj do koszyka'"></button>
                </form>
            </th:block>
            <th:block sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/deleteProduct(productId=${product.getId()})}" th:method="delete">
                    <button class="btn btn-danger" type="submit" name="submit" value="" th:text="Usuń"
                            onClick="return confirm('Jesteś pewny?')"></button>
                </form>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>