<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witamy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<div class="container">
    <nav th:replace="fragments/header :: header"></nav>
    <div class="jumbotron">
        <h1>Witaj w sklepie internetowym LekNaKażdąOkazję</h1>
        <p>Tutaj znajdziesz każdy lek!</p>
    </div>
    <a style="text-decoration: none" th:href="@{/main}"><button class="button-block">Wejdź i sprawdź sam!</button></a>
    <nav th:replace="fragments/footer :: footer"></nav>
</div>
</body>
</html>